# First, ignore everything
*
# Now, whitelist anything that's a directory
!*/
# whitelist only the files that ever need to be tracked
!*.f90
!*.sh
!CMakeLists.txt
!*.cmake
!COPYING.txt
!CHANGELOG 
!README.md
!README_figs/**
!README_tables/**
!paper/paper.md
!paper/paper.bib
!README.swifter 
dump*
!**/.gitignore
!*.py
!*.ipynb
!examples/**
*ipynb_checkpoints
**/.DS_Store

#Documentation
!docs/*
!docs/*/*
!docs/*/*/*
!README_figs/*

bin/
build/*
disruption_headon/swiftest_driver.sh
