# First, ignore everything
*
# whitelist only the files that ever need to be tracked
!*.f90
!CMakeLists.txt
!*.cmake
!COPYING
!LICENSE
!CHANGELOG 
!README.md
!README_figs/**
!README_tables/**
!paper/
!paper/paper.md
!paper/paper.bib
!paper/performance.png
!.github/
!.github/workflows/
!.github/workflows/*.yml
!setup.py
!swiftest/
!swiftest/*.py
!swiftest/core.pyx
!swiftest/core.h
!swiftest/CMakeLists.txt
swiftest/_version.py
!tests/
!tests/*.py 
!.zenodo.json
!CITATION.cff
!requirements.txt
!pyproject.toml
!src/
!src/base/
!src/bindings/
!src/coarray/
!src/collision/
!src/encounter/
!src/fraggle/
!src/globals/
!src/helio/
!src/main/
!src/misc/
!src/netcdf_io/
!src/operator/
!src/ringmoons/
!src/rmvs/
!src/shgrav/
!src/swiftest/
!src/symba/
!src/tidews/
!src/user/
!src/walltime/
!src/whm/
!src/**/*.f90
!src/user/
!src/dust/
src/globals/globals_module.f90
!environments/
!environments/*.yml
!buildscripts/
!buildscripts/*.sh
!environments/
!environments/swiftest-dev.yml
!examples/
!examples/** 


#Documentation
!.readthedocs.yaml
!docs/
!docs/.gitignore


swiftest/core.cpython*
bin/
build/*
lib*

actions-runner*

env/**
venv/**

sandbox/**
swiftest/swiftest
swiftest/swiftest_caf
!.env



