[build-system]
requires = [
    "setuptools>=42",
    "scikit-build>=0.17",
    "cmake>=3.5.0",
    "cython>=3.0.0",
    "ninja",
    "pytest",
]
build-backend = "setuptools.build_meta"

[tool.cibuildwheel]
environment = {SKBUILD_CONFIGURE_OPTIONS="-DBUILD_SHARED_LIBS=OFF"}
test-command = "pytest {package}/tests"
test-requires = ['pytest','cython']
test-skip = "cp312-*"
skip = "pp* *i686 *-manylinux_i686 *_ppc64le *_s390x *-musllinux* *-win32"

[tool.cibuildwheel.linux]
environment = {FFLAGS="${FFLAGS} -fPIC", CFLAGS="${CFLAGS} -fPIC", LDFLAGS="${LDFLAGS} -fPIE", LIBS="-lgomp"}
before-all = [
    "yum install wget m4 doxygen  -y ||  apt-get install wget m4 doxygen -y",
    "buildscripts/build_dependencies.sh -d /_dependencies -p /usr/local",
]

[tool.cibuildwheel.macos]
before-all = [
    "buildscripts/build_dependencies.sh -d ${TMPDIR} -p ${TMPDIR} -m ${MACOSX_DEPLOYMENT_TARGET}"
]

    