*
!.gitignore
!Basic/
!Basic/Basic_Simulation
!Basic/Swifter_Swiftest
!Basic/solar_impact
!Basic/escape_from_the_solar_system
!Fraggle/
!Fraggle/Chambers2013
!Fraggle/Fragmentation
!Fraggle/Multibody_Fragmentation
!GR/
!GR/helio_gr_test
!GR/whm_gr_test
!SHTOOLS/spherical_harmonics_cb
!Coarray_Test_Particles
!Ringmoons/
!Ringmoons/Salmon_et_al_2010-Saturn_Ring_Viscosity 
!Ringmoons/Hesselbrock_and_Minton_2017_Mars_Ring_Cycle
!Ringmoons/Hesselbrock_and_Minton_2019_Origin_of_Miranda
!SHTOOLS/
!SHTOOLS/spherical_harmonics_cb
