!.gitgnore
!*.rst
!Makefile
!requirements.txt
!environment.yml
!conf.py
!_templates/
!_templates/autosummary/
!_templates/autosummary/*.rst
!_build/
_build/**/*
generated/
generated/**/*
!_static/
!_static/**/*.png
!_static/**/*.svg
!_static/style.css
_static/fortran_docs/
_static/fortran_docs/*/**
!fortran_docs.md
!getting-started-guide/
!getting-started-guide/*.rst
!user-guide/
!user-guide/*.rst
