scikit-build-core>=0.8.2
numpy>=1.26.4
scipy>=1.12.0
xarray>=2024.2.0
dask>=2024.2.1
distributed>=2024.2.1
bottleneck>=1.3.8
h5netcdf>=1.3.0
h5py>=3.10.0
netcdf4>=1.6.5
matplotlib>=3.8.3
astropy>=6.0.0
astroquery>=0.4.6
tqdm>=4.66.2
cython>=3.0.8
ipykernel
sphinx
sphinx-autosummary-accessors
sphinx-book-theme >= 0.3.0
sphinx-copybutton
sphinx-design
sphinx-inline-tabs
sphinxext-rediraffe
sphinxext-opengraph
nbsphinx
ipython
ford
pickleshare